In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

./modelo_log.pkl
./modelo_log_clf.pkl
./Model_089.ipynb
./Model_089-Copy1.ipynb
./df_clean_correlacion.ipynb
./modelo_log_reg.pkl
./.ipynb_checkpoints/Model_089-checkpoint.ipynb
./.ipynb_checkpoints/Model_089-Copy1-checkpoint.ipynb
./.ipynb_checkpoints/df_clean_correlacion-checkpoint.ipynb
./Data/Imputed_DF_DTR.csv
./Data/Imputed_DF_DTR.zip
./Data/Clean_DF_EMR.csv

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
data = './Data/Imputed_DF_DTR.csv'

df = pd.read_csv(data)

In [4]:
import pandas as pd

# Supongamos que 'df' es tu DataFrame y ya contiene las variables de inter√©s

# Lista de columnas para verificar outliers
columns_to_check = ['CICLO', 'FACTOREL', 'AOI', 'DISP', 'ITBU', 'TRAREM', 'CURSNR', 'CURSR',
       'NFORMA', 'NAC1', 'ECIV1', 'EDADN', 'CCAA', 'NPADRE', 'NMADRE', 'PROV',
       'NCONY', 'SEXO1', 'NVIVI', 'RELPP1', 'NIVEL', 'NPERS', 'OFEMP',
       'EDADEST', 'SIDAC1', 'SIDAC2', 'FOBACT', 'ASALA', 'MUN1', 'EMBUS',
       'PRONA1', 'AUSENT', 'AYUDFA', 'EMPANT', 'BUSCA', 'SIDI1', 'NUEVEM',
       'DTANT']

In [10]:
# Diccionario para almacenar los outliers
outliers = {}

for column in columns_to_check:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 5 * IQR
    upper_bound = Q3 + 5 * IQR
    
    # Identificar outliers
    mask = (df[column] < lower_bound) | (df[column] > upper_bound)
    outliers[column] = df[mask]
    
    # Imprimir los outliers encontrados para cada variable
    print(f"Outliers in {column}:")
    print(df.loc[mask, column], "\n")  # Imprime solo los valores outliers para la columna actual

# 'outliers' contiene los DataFrames de outliers para cada columna revisada

Outliers in CICLO:
Series([], Name: CICLO, dtype: float64)

Outliers in FACTOREL:
401        1661.41
402        1661.41
403        1677.02
416        2114.45
579        1547.44
            ...
1197989   21663.00
1197990    9332.00
1197991    9332.00
1197992   16276.00
1197993   16276.00
Name: FACTOREL, Length: 11763, dtype: float64

Outliers in AOI:
Series([], Name: AOI, dtype: float64)

Outliers in DISP:
9         6.00
13        6.00
35        6.00
42        6.00
76        6.00
          ...
1197902   6.00
1197903   6.00
1197928   6.00
1197943   6.00
1197973   6.00
Name: DISP, Length: 84838, dtype: float64

Outliers in ITBU:
Series([], Name: ITBU, dtype: float64)

Outliers in TRAREM:
0         1.00
4         1.00
10        1.00
11        1.00
12        1.00
          ...
1098689   1.00
1098694   1.00
1098700   1.00
1098731   1.00
1098734   1.00
Name: TRAREM, Length: 202780, dtype: float64

Outliers in CURSNR:
7         1.00
16        1.00
20        1.00
21        1.00
22        1.00
          ...
1197956   1.00
1197959   1.00
1197973   1.00
1197974   1.00
1197978   1.00
Name: CURSNR, Length: 130465, dtype: float64

Outliers in CURSR:
2         1.00
5         1.00
9         1.00
18        1.00
22        1.00
          ...
1197926   1.00
1197939   1.00
1197942   1.00
1197974   1.00
1197979   1.00
Name: CURSR, Length: 104206, dtype: float64

Outliers in NFORMA:
Series([], Name: NFORMA, dtype: float64)

Outliers in NAC1:
18        2.00
23        3.00
24        3.00
53        3.00
58        3.00
          ...
1197969   3.00
1197972   3.00
1197984   3.00
1197987   3.00
1197990   3.00
Name: NAC1, Length: 167393, dtype: float64

Outliers in ECIV1:
Series([], Name: ECIV1, dtype: float64)

Outliers in EDADN:
Series([], Name: EDADN, dtype: float64)

Outliers in CCAA:
Series([], Name: CCAA, dtype: float64)

Outliers in NPADRE:
1453      9.00
4724      7.00
4890      9.00
5065      7.00
10694     7.00
          ...
1164797   7.00
1166100   7.00
1172345   8.00
1181948   7.00
1189231   7.00
Name: NPADRE, Length: 177, dtype: float64

Outliers in NMADRE:
260       7.00
1453      8.00
4890      8.00
4969      8.00
6045      7.00
          ...
1188594   7.00
1189231   8.00
1192634   7.00
1194010   7.00
1195080   7.00
Name: NMADRE, Length: 451, dtype: float64

Outliers in PROV:
Series([], Name: PROV, dtype: float64)

Outliers in NCONY:
138840    13.00
151076    13.00
334211    15.00
733932    15.00
733933    14.00
1156220   18.00
1156221   17.00
Name: NCONY, dtype: float64

Outliers in SEXO1:
Series([], Name: SEXO1, dtype: float64)

Outliers in NVIVI:
Series([], Name: NVIVI, dtype: float64)

Outliers in RELPP1:
Series([], Name: RELPP1, dtype: float64)

Outliers in NIVEL:
Series([], Name: NIVEL, dtype: float64)

Outliers in NPERS:
334212    15.00
733932    14.00
733933    15.00
1156220   17.00
1156221   18.00
1164232   19.00
1172385   19.00
Name: NPERS, dtype: float64

Outliers in OFEMP:
Series([], Name: OFEMP, dtype: float64)

Outliers in EDADEST:
10402     63.00
116088    63.00
150830    63.00
161994    64.00
175980    64.00
199925    63.00
205691    63.00
216140    63.00
223081    63.00
233982    63.00
334413    65.00
372921    63.00
393440    63.00
407391    74.00
415075    63.00
438003    63.00
461645    63.00
485606    63.00
748006    64.00
768405    64.00
792984    64.00
885488    63.00
888776    65.00
902698    63.00
918841    63.00
935187    63.00
1005017   63.00
1019581   63.00
1028863   64.00
1059058   65.00
1067129   63.00
1080023   63.00
1084926   63.00
1093396   63.00
1104877   63.00
1105837   63.00
1114774   63.00
1123944   63.00
1133330   63.00
1138577   63.00
1138746   64.00
1141698   63.00
1146761   63.00
1154609   64.00
1158069   64.00
1162632   64.00
1162790   64.00
1166005   64.00
1170916   64.00
1174295   65.00
1178869   64.00
Name: EDADEST, dtype: float64

Outliers in SIDAC1:
0         1.00
2         1.80
3         1.00
4         1.00
6         1.80
          ...
1197840   1.00
1197853   1.00
1197902   1.80
1197903   1.80
1197936   1.00
Name: SIDAC1, Length: 266381, dtype: float64

Outliers in SIDAC2:
0         1.00
2         1.80
3         1.00
4         1.00
6         1.80
          ...
1197840   1.00
1197853   1.00
1197902   1.80
1197903   1.80
1197936   1.00
Name: SIDAC2, Length: 119451, dtype: float64

Outliers in FOBACT:
16        6.00
126       6.00
155       6.00
178       6.00
190       6.00
          ...
1197766   6.00
1197808   2.00
1197816   6.00
1197821   6.00
1197823   6.00
Name: FOBACT, Length: 29683, dtype: float64

Outliers in ASALA:
69        6.00
88        6.00
89        6.00
91        6.00
96        6.00
          ...
1197836   2.00
1197859   2.00
1197860   2.00
1197861   2.00
1197862   2.00
Name: ASALA, Length: 51221, dtype: float64

Outliers in MUN1:
17        6.00
44        6.00
45        6.00
64        6.00
124       6.00
          ...
1197471   2.00
1197859   2.00
1197860   2.00
1197861   2.00
1197862   2.00
Name: MUN1, Length: 38392, dtype: float64

Outliers in EMBUS:
Series([], Name: EMBUS, dtype: float64)

Outliers in PRONA1:
Series([], Name: PRONA1, dtype: float64)

Outliers in AUSENT:
22        4.00
32        1.00
41        5.00
44        5.00
47        5.00
          ...
1197614   1.00
1197744   1.00
1197745   1.00
1197808   1.00
1197936   1.00
Name: AUSENT, Length: 51353, dtype: float64

Outliers in AYUDFA:
150       1.00
154       5.00
196       1.00
203       1.00
211       1.00
          ...
1098410   5.00
1098534   1.00
1098641   5.00
1098642   1.00
1098643   1.00
Name: AYUDFA, Length: 10981, dtype: float64

Outliers in EMPANT:
0         3.00
4         2.00
6         6.00
7         6.00
11        2.00
          ...
1197979   6.00
1197983   6.00
1197987   6.00
1197990   6.00
1197991   6.00
Name: EMPANT, Length: 178795, dtype: float64

Outliers in BUSCA:
0         4.00
11        2.00
25        2.00
35        2.00
39        6.00
          ...
1197808   6.00
1197836   6.00
1197840   6.00
1197936   6.00
1197956   6.00
Name: BUSCA, Length: 140072, dtype: float64

Outliers in SIDI1:
0         1.80
1         2.60
2         1.00
3         2.60
4         1.00
          ...
1197983   2.20
1197984   2.60
1197991   2.60
1197992   7.00
1197993   7.00
Name: SIDI1, Length: 333373, dtype: float64

Outliers in NUEVEM:
0         1.80
11        2.60
25        2.60
35        2.60
39        1.00
          ...
1197989   1.20
1197990   1.40
1197991   1.40
1197992   1.00
1197993   1.00
Name: NUEVEM, Length: 200328, dtype: float64

Outliers in DTANT:
51        181.00
77        226.00
127       282.00
158       324.00
199       372.00
           ...
1197830   209.00
1197863   215.00
1197864   228.00
1197901   192.00
1197929   190.00
Name: DTANT, Length: 23061, dtype: float64

In [11]:
# Supongamos que 'df' es tu DataFrame original

# # Lista de columnas a verificar
# columns_to_check = [
#     "CICLO", "CCAA", "PROV", "NVIVI", "NIVEL", "NPERS",
#     "RELPP1", "SEXO1", "NCONY", "NPADRE", "NMADRE", "ECIV1",
#     "PRONA1", "REGNA1", "NAC1", "EXREGNA1", "ANORE1", "EDADEST",
#     "CURSR", "CURSNR", "HCURNR", "TRAREM", "AYUDFA", "AUSENT",
#     "NUEVEM", "OCUP1", "ACT1", "SITU", "DUCON1",
#     "DUCON2", "DUCON3", "TCONTM", "DREN", "DCOM", "PROEST",    
#     "PARCO1", "PARCO2", "HORASP", "HORASH", "HORASE", "EXTRA",
#     "TRAPLU", "MASHOR", "DISMAS", "HORDES", "BUSOTR", "BUSCA",
#     "FOBACT", "NBUSCA", "ASALA", "EMBUS", "ITBU", "DISP",
#     "RZNDIS", "EMPANT", "DTANT", "OCUPA", "ACTA", "SITUA",
#     "OFEMP", "SIDI1", "SIDI2", "SIDAC1", "SIDAC2", "MUN1",
#     "TRAANT", "AOI", "CSE", "FACTOREL", "RZULT", "EDADN"
# ]

df_clean = df.copy()  # Hacer una copia del DataFrame original para mantenerlo intacto

for column in columns_to_check:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 5 * IQR
    upper_bound = Q3 + 5 * IQR
    
    # Mantener solo las filas sin outliers en la columna actual
    df_clean = df_clean[(df_clean[column] >= lower_bound) & (df_clean[column] <= upper_bound)]

# Verificar el n√∫mero de filas antes y despu√©s
print("N√∫mero de filas antes de la limpieza:", len(df))
print("N√∫mero de filas despu√©s de la limpieza:", len(df_clean))

N√∫mero de filas antes de la limpieza: 1197994
N√∫mero de filas despu√©s de la limpieza: 399702

In [6]:
# import pandas as pd
# import numpy as np

# # Asumiendo que 'df' es tu DataFrame y ya contiene las variables de inter√©s

# # Lista de columnas para verificar y eliminar outliers
# columns_to_check = [
#     "CICLO", "CCAA", "PROV", "NVIVI", "NIVEL", "NPERS",
#     "RELPP1", "SEXO1", "NCONY", "NPADRE", "NMADRE", "ECIV1",
#     "PRONA1", "REGNA1", "NAC1", "EXREGNA1", "ANORE1", "EDADEST",
#     "CURSR", "CURSNR", "HCURNR", "TRAREM", "AYUDFA", "AUSENT",
#     "NUEVEM", "OCUP1", "ACT1", "SITU", "DUCON1",
#     "DUCON2", "DUCON3", "TCONTM", "DREN", "DCOM", "PROEST",    
#     "PARCO1", "PARCO2", "HORASP", "HORASH", "HORASE", "EXTRA",
#     "TRAPLU", "MASHOR", "DISMAS", "HORDES", "BUSOTR", "BUSCA",
#     "FOBACT", "NBUSCA", "ASALA", "EMBUS", "ITBU", "DISP",
#     "RZNDIS", "EMPANT", "DTANT", "OCUPA", "ACTA", "SITUA",
#     "OFEMP", "SIDI1", "SIDI2", "SIDAC1", "SIDAC2", "MUN1",
#     "TRAANT", "AOI", "CSE", "FACTOREL", "RZULT", "EDADN"
# ]

# # Copia del DataFrame para evitar modificar el original mientras se eliminan outliers
# df_clean = df.copy()

# for column in columns_to_check:
#     Q1 = df[column].quantile(0.25)
#     Q3 = df[column].quantile(0.75)
#     IQR = Q3 - Q1
#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
    
#     # Filtrar el DataFrame para excluir outliers
#     df_clean = df_clean.loc[(df_clean[column] >= lower_bound) & (df_clean[column] <= upper_bound)]

# # 'df_clean' ahora contiene el DataFrame sin los outliers en las columnas especificadas

In [ ]:
import pandas as pd

# Supongamos que 'df' es tu DataFrame y ya contiene las variables de inter√©s

# Lista de columnas para verificar outliers
# columns_to_check = [
#     "CICLO", "CCAA", "PROV", "NVIVI", "NIVEL", "NPERS",
#     "RELPP1", "SEXO1", "NCONY", "NPADRE", "NMADRE", "ECIV1",
#     "PRONA1", "REGNA1", "NAC1", "EXREGNA1", "ANORE1", "EDADEST",
#     "CURSR", "CURSNR", "HCURNR", "TRAREM", "AYUDFA", "AUSENT",
#     "NUEVEM", "OCUP1", "ACT1", "SITU", "DUCON1",
#     "DUCON2", "DUCON3", "TCONTM", "DREN", "DCOM", "PROEST",    
#     "PARCO1", "PARCO2", "HORASP", "HORASH", "HORASE", "EXTRA",
#     "TRAPLU", "MASHOR", "DISMAS", "HORDES", "BUSOTR", "BUSCA",
#     "FOBACT", "NBUSCA", "ASALA", "EMBUS", "ITBU", "DISP",
#     "RZNDIS", "EMPANT", "DTANT", "OCUPA", "ACTA", "SITUA",
#     "OFEMP", "SIDI1", "SIDI2", "SIDAC1", "SIDAC2", "MUN1",
#     "TRAANT", "AOI", "CSE", "FACTOREL", "RZULT", "EDADN"
# ]

# Diccionario para almacenar los outliers
outliers = {}

for column in columns_to_check:
    Q1 = df_clean[column].quantile(0.25)
    Q3 = df_clean[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identificar outliers
    mask = (df_clean[column] < lower_bound) | (df_clean[column] > upper_bound)
    outliers[column] = df_clean[mask]
    
    # Imprimir los outliers encontrados para cada variable
    print(f"Outliers in {column}:")
    print(df_clean.loc[mask, column], "\n")  # Imprime solo los valores outliers para la columna actual

# 'outliers' contiene los DataFrames de outliers para cada columna revisada

In [12]:
import pandas as pd
from sklearn.impute import KNNImputer

# Cargando los datos
# data = './EPA_2005_2023_FULL.csv'
# df = pd.read_csv(data)

# Mantener solo las columnas num√©ricas para calcular correlaciones
df_numeric = df_clean.select_dtypes(include=[np.number])

# Calcular correlaciones
correlaciones = df_numeric.corr()

# Seleccionar correlaciones para 'ITBU', omitiendo su propia correlaci√≥n
df_correlaciones = correlaciones['ITBU'].drop('ITBU')

# Obtener los nombres de las 10 caracter√≠sticas m√°s correlacionadas en valor absoluto
definitivas = df_correlaciones.abs().nlargest(10).index.tolist()

# A√±adir 'ITBU' a la lista de caracter√≠sticas definitivas
definitivas.append('ITBU')

# Filtrar el dataframe original para mantener solo las columnas seleccionadas
df_final = df[definitivas]

# Aplicar KNNImputer al dataframe filtrado
imputer = KNNImputer(n_neighbors=5)
df_imputed = pd.DataFrame(imputer.fit_transform(df_final), columns=df_final.columns)

In [13]:
df_clean.shape

(399702, 38)

In [14]:
# find numerical variables

numerical = [var for var in df_clean.columns if df_clean[var].dtype!='O']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are :', numerical)

There are 38 numerical variables

The numerical variables are : ['CICLO', 'FACTOREL', 'AOI', 'DISP', 'ITBU', 'TRAREM', 'CURSNR', 'CURSR', 'NFORMA', 'NAC1', 'ECIV1', 'EDADN', 'CCAA', 'NPADRE', 'NMADRE', 'PROV', 'NCONY', 'SEXO1', 'NVIVI', 'RELPP1', 'NIVEL', 'NPERS', 'OFEMP', 'EDADEST', 'SIDAC1', 'SIDAC2', 'FOBACT', 'ASALA', 'MUN1', 'EMBUS', 'PRONA1', 'AUSENT', 'AYUDFA', 'EMPANT', 'BUSCA', 'SIDI1', 'NUEVEM', 'DTANT']

In [15]:
df_clean[numerical].head()

,CICLO,FACTOREL,AOI,DISP,ITBU,TRAREM,CURSNR,CURSR,NFORMA,NAC1,...,MUN1,EMBUS,PRONA1,AUSENT,AYUDFA,EMPANT,BUSCA,SIDI1,NUEVEM,DTANT
14,130.00,141.13,6.00,1.00,5.00,6.00,3.00,3.00,3.00,1.00,...,1.00,2.00,1.00,6.00,6.00,1.00,1.00,3.00,3.00,14.00
26,130.00,189.94,6.00,1.00,7.00,6.00,3.00,3.00,6.00,1.00,...,1.00,5.00,1.00,6.00,6.00,1.00,1.00,3.00,3.00,32.00
27,130.00,130.93,6.00,1.00,7.00,6.00,3.00,3.00,3.00,1.00,...,1.00,5.00,24.00,6.00,6.00,1.00,1.00,3.00,3.00,72.00
31,130.00,304.81,6.00,1.00,5.00,6.00,3.00,3.00,6.00,1.00,...,1.00,5.00,31.00,6.00,6.00,1.00,1.00,3.00,3.00,6.00
54,130.00,187.81,6.00,1.00,6.00,6.00,3.00,3.00,3.00,1.00,...,1.00,3.00,10.00,6.00,6.00,1.00,1.00,3.00,3.00,27.00

In [16]:
# check missing values in numerical variables

df_clean[numerical].isnull().sum()

CICLO       0
FACTOREL    0
AOI         0
DISP        0
ITBU        0
TRAREM      0
CURSNR      0
CURSR       0
NFORMA      0
NAC1        0
ECIV1       0
EDADN       0
CCAA        0
NPADRE      0
NMADRE      0
PROV        0
NCONY       0
SEXO1       0
NVIVI       0
RELPP1      0
NIVEL       0
NPERS       0
OFEMP       0
EDADEST     0
SIDAC1      0
SIDAC2      0
FOBACT      0
ASALA       0
MUN1        0
EMBUS       0
PRONA1      0
AUSENT      0
AYUDFA      0
EMPANT      0
BUSCA       0
SIDI1       0
NUEVEM      0
DTANT       0
dtype: int64

In [17]:
# view summary statistics in numerical variables

import pandas as pd
from IPython.display import display, HTML

pd.set_option('display.float_format', '{:.2f}'.format)

# Asumiendo que 'df' es tu DataFrame y 'numerical' es una lista de tus columnas num√©ricas

# Calcula estad√≠sticas descriptivas para las columnas num√©ricas
stats = df[numerical].describe()

# Convierte el DataFrame de estad√≠sticas descriptivas a HTML, forzando el desplazamiento horizontal
html = stats.to_html()

# Ajusta el HTML para permitir el desplazamiento horizontal
html_with_scroll = f'<div style="overflow-x: auto; white-space: nowrap;">{html}</div>'

# Usa display(HTML()) para mostrar el resultado en Jupyter Notebook
display(HTML(html_with_scroll))